<form
  form
  [formGroup]="AccountForm"
  #FormAccount="ngForm"
  (ngSubmit)="updateUser(FormAccount.value)"
  action=""
>
  <div class="pl-lg-4">
    <div class="row">
      <div></div>
      <div>
        <div class="form-group">
          <label class="form-control-label" for="input-email"
            >Email address</label
          >
          <input
            type="email"
            id="input-email"
            class="form-control form-control-alternative"
            ng-model="email"
            formControlName="email"
            [(ngModel)]="Account.email"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="form-group focused">
          <label class="form-control-label addmargin" for="input-first-name"
            >CIN</label
          >
          <input
            type="text"
            id="input-first-name"
            class="form-control form-control-alternative"
            placeholder="CIN"
            ng-model="cin"
            formControlName="cin"
            [(ngModel)]="Account.cin"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group focused">
          <label class="form-control-label addmargin" for="input-last-name"
            >Address</label
          >
          <input
            type="text"
            id="Address"
            class="form-control form-control-alternative"
            placeholder="Address"
            ng-model="address"
            formControlName="address"
            [(ngModel)]="Account.address"
          />
        </div>
      </div>
      <br />
      <button mat-raised-button color="primary" class="login-button">
        Update your Profile
      </button>
    </div>
  </div>

  <!-- Description -->
</form>
