<div
  style="
    background-image: url('../../assets/imgs/BackGroundImg.png');
    min-height: 100%;
  "
  class="wrapper"
>
  <div *ngFor="let item of allTransactions | async; let i = index" class="card">
    <div
      [ngClass]="{
        'card-image-apartement': propertiesTypes[i] === 'Apartement',
        'card-image-land': propertiesTypes[i] === 'Land',
        'card-image-garage': propertiesTypes[i] === 'Garage',
        'card-image-bureau': propertiesTypes[i] === 'Office',
        'card-image-villa': propertiesTypes[i] === 'Villa',
        'card-image-villa': propertiesTypes[i] === 'Villa',
        'card-image-maison': propertiesTypes[i] === 'House'
      }"
    ></div>
    <div class="card-text">
      <span class="date"></span>
      <p style="font-weight: bold">
        Sold with:
        {{ item["price"] }} ETH Or
        {{ item["price"] * (BinanceObject?.price || 0) | number: "1.0-0" }}$
      </p>
      <p style="font-weight: bold">Area:</p>
      <p>{{ propertiesAreas[i] }} m²</p>
      <p style="font-weight: bold">Seller:</p>
      <p>{{ item["seller"] }}</p>
      <p style="font-weight: bold">New owner:</p>
      <p>{{ item["owner"] }}</p>
      <p style="font-weight: bold">address:</p>
      <p>{{ propertiesAddresses[i] }}</p>
    </div>
  </div>
</div>
