<div
  style="
    background-image: url('../../assets/imgs/BackGroundImg.png');
    min-height: 100%;
  "
  class="wrapper"
>
  <div *ngFor="let item of createdItems | async; let i = index" class="card">
    <div
      [ngClass]="{
        'card-image-apartement': propertiesTypes[i] === 'Apartement',
        'card-image-land': propertiesTypes[i] === 'Land',
        'card-image-garage': propertiesTypes[i] === 'Garage',
        'card-image-bureau': propertiesTypes[i] === 'Office',
        'card-image-villa': propertiesTypes[i] === 'Villa',
        'card-image-villa': propertiesTypes[i] === 'Villa',
        'card-image-maison': propertiesTypes[i] === 'House'
      }"
    ></div>
    <div class="card-text">
      <span class="date"></span>
      <p>
        Price:
        {{ item["price"] }} ETH
      </p>
      <p>Or</p>
      <p>
        {{ item["price"] * (BinanceObject?.price || 0) | number: "1.0-0" }}$
      </p>
      <p *ngIf="item['sold'] == true">Sold or Canceled</p>
    </div>
    <div class="card-stats">
      <div class="stat">
        <div class="value"></div>
        <div class="type"></div>
        <div class="type"></div>
      </div>
      <div *ngIf="item['sold'] == false">
        <button class="button-36" (click)="cancelMarketSell(item['itemId'])">
          Cancel this sell
        </button>
      </div>
    </div>
  </div>
</div>
