<div class="login-page">
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  
  <mat-card class="mat-elevation-z12">
    <mat-error>
      {{ message }}
    </mat-error>
    <mat-tab-group
      mat-stretch-tabs
      class="example-stretched-tabs"
      [selectedIndex]="tabIndex"
    >
      <mat-tab label="Sign In">
        <mat-card-content>
          <form
            #FormSignIn="ngForm"
            (ngSubmit)="SendValuesForAuth(FormSignIn.value)"
            action=""
          >
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="username"
                ngModel
                #username="ngModel"
              />
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="username.invalid">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel"
              />
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Sign In
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form
            #FormSignUp="ngForm"
            (ngSubmit)="SendValues(FormSignUp.value)"
            action=""
          >
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="username"
                ngModel
                #username="ngModel"
              />
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="username.invalid">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="CIN"
                required
                name="cin"
                ngModel
                #CIN="ngModel"
              />
              <mat-icon matSuffix>credit_card</mat-icon>
              <mat-error *ngIf="username.invalid"> CIN is required </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Address"
                required
                name="address"
                ngModel
                #CIN="ngModel"
              />
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="username.invalid">
                Address is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                ngModel
                #email="ngModel"
              />
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel"
              />
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="repassword"
                ngModel
                #repassword="ngModel"
              />
              <mat-error
                *ngIf="repassword.errors && repassword.errors.required"
              >
                Re-Enter Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<h1>{{ response }}</h1>
