<html>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet"
  />

  <body>
    <div class="main-content">
      <!-- Top navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Brand -->
          <a
            class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
            href="https://www.creative-tim.com/product/argon-dashboard"
            target="_blank"
            >User profile</a
          >
          <!-- User -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="media align-items-center"></div>
              </a>
              <div
                class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
              >
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-calendar-grid-58"></i>
                  <span>Activity</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Support</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header -->
      <div
        class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="
          min-height: 600px;
          background-image: url(../../assets/imgs/pexels-expect-best-323775.jpg);
          background-size: cover;
          background-position: center;
        "
      >
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Welcome Back</h1>
              <p class="text-white mt-0 mb-5">
                This is your profile page. You can use it to update your account
                information verry easly
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow heightchangehen">
            <div class="card-body heightchange">
              <form
                form
                [formGroup]="AccountForm"
                #FormAccount="ngForm"
                action=""
              >
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username"
                          >Username</label
                        >
                        <input
                          type="text"
                          id="input-username"
                          class="form-control form-control-alternative"
                          ng-model="username"
                          formControlName="username"
                          [(ngModel)]="Account.username"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email"
                          >Email address</label
                        >
                        <input
                          type="email"
                          id="input-email"
                          class="form-control form-control-alternative"
                          ng-model="email"
                          formControlName="email"
                          [(ngModel)]="Account.email"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name"
                          >CIN</label
                        >
                        <input
                          type="text"
                          id="input-first-name"
                          class="form-control form-control-alternative"
                          ng-model="cin"
                          formControlName="cin"
                          [(ngModel)]="Account.cin"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name"
                          >Address</label
                        >
                        <input
                          type="text"
                          id="Address"
                          class="form-control form-control-alternative"
                          disabled
                          ng-model="address"
                          formControlName="address"
                          [(ngModel)]="Account.address"
                        />
                      </div>
                    </div>
                    <a class="btn btn-info" (click)="openDialog()"
                      >Edit profile</a
                    >
                  </div>
                </div>
                <!-- Description -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
