<form>
  <div class="form-group">
    <label for="UniqueNFTString">Proprety Contract Identifier</label>
    <input
      [(ngModel)]="PropretyContractIdentifier"
      name="URICreation"
      type="text"
      class="form-control"
      id="UniqueNFTString"
      placeholder="Lbfv2QP9eYDLZcSSmaHN"
    />
  </div>


  <label for="propretyType">Proprety Type</label>
  <select id="propretyType" name="PropretyType" class="form-select" aria-label="Default select example" [(ngModel)]="propretyType">
    <option value="villa">Villa</option>
    <option value="apartement">Apartement </option>
    <option value="garage">Garage</option>
  </select>
</form>
<button
  style="margin-top: 10px"
  class="btn btn-danger"
  (click)="CreateNFTToken(PropretyContractIdentifier)"
>
  Creat Item
</button>
