<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h1>Real Estate Agent</h1>
          <h2 class="p-large p-heading">
            The Easiest and Most Powerful Way To SECURELY Buy and Sell
          </h2>
          <h3>Sign up and get started today</h3>
          <a class="btn-solid-lg" href="#your-link"
            ><i class="fab fas fa-meteor"></i>Get Started</a
          >
          <a class="btn-solid-lg" href="#your-link"
            ><i class="fab fas fa-search"></i>Get to Know US</a
          >
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="image-container">
          <img
            class="img-center"
            src="assets/imgs/building-architecture-illustration-png-favpng-6fEWFQUwsjcHRvi5Bm6JqigS8-removebg-preview.png"
            alt="alternative"
          />
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
  <div class="deco-white-circle-1">
    <img src="assets/imgs/decorative-white-circle.svg" alt="alternative" />
  </div>
  <!-- end of deco-white-circle-1 -->
  <div class="deco-white-circle-2">
    <img src="assets/imgs/decorative-white-circle.svg" alt="alternative" />
  </div>
  <!-- end of deco-white-circle-2 -->
  <div class="deco-blue-circle">
    <img src="assets/imgs/decorative-blue-circle.svg" alt="alternative" />
  </div>
  <!-- end of deco-blue-circle -->
  <div class="deco-yellow-circle">
    <img src="assets/imgs/decorative-yellow-circle.svg" alt="alternative" />
  </div>
  <!-- end of deco-yellow-circle -->
  <div class="deco-green-diamond">
    <img src="assets/imgs/decorative-green-diamond.svg" alt="alternative" />
  </div>
  <!-- end of deco-yellow-circle -->
</header>
<!-- end of header -->
<!-- end of header -->

<!-- Features -->
<div id="features" class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>About US</h2>
        <p class="p-heading">
          Blockchain platforms associated with the real estate sector provide an
          answer in terms of speed and safety that can considerably reduce the
          risk of fraud. All your real estate transaction are concerned by this
          innovative technology and its implications for simplifying the
          transmission of data and reducing the time between the signing of the
          preliminary sales agreement and the deed of sale
        </p>
      </div>
      <!-- end of div -->
    </div>
    <!-- end of div -->
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-unstyled li-space-lg first">
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-shield-alt fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>Transparency</h4>
              <p>
                Promotes confidence through transparency by using Distributed
                Ledger Technology (DLT)
              </p>
            </div>
          </li>
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x green"></i>
              <i class="fas fa-lock fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>Security</h4>
              <p>
                BlockChain produce a data structure with high security qualities
                which guarantee high confidence in transactions.
              </p>
            </div>
          </li>
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x red"></i>
              <i class="fas fa-hourglass-start fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>Save Your Time</h4>
              <p>
                By eliminating middlemen,we will speeds up the process by
                eliminating the back-and-forth between these intermediaries
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <img
          class="img-fluid"
          src="assets/imgs/eth2-image.png"
          alt="alternative"
        />
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x yellow"></i>
              <i class="fas fa-route fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>No Intermediaries</h4>
              <p>
                Agents, appraisers, notaries...Using blockchain, the
                overwhelming part of them can be eliminated.
              </p>
            </div>
          </li>
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x blue"></i>
              <i class="fas fa-digital-tachograph fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>Digital identities</h4>
              <p>
                A combination of blockchain technology with digital
                identification of Properties can solve multiple problems
              </p>
            </div>
          </li>
          <li class="media">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-tint fa-stack-1x"></i>
            </span>
            <div class="media-body">
              <h4>Liquidity</h4>
              <p>
                with tokenization, owners of the expensive property will be able
                to quickly sell their assets free of “urgency” premium
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-2 -->
<!-- end of features -->
